<tabset justified="true"> 
    <tab id="users"> 
        <tab-heading> 
            <fa name="star"></fa> 
        </tab-heading> 
        <h6><strong>Buyer</strong> Ratings</h6> 
        <ul><li class="online"></li></ul> 
        <h6><strong>Seller</strong> Ratings</h6> 
        <ul><li class="offline"></li></ul> 
    </tab> 
    <tab> 
        <tab-heading> 
            <fa name="list"></fa> 
        </tab-heading> 
        <h6><strong>Order</strong> History</h6> 
        <ul><li class="online"></li> </ul> 
    </tab> 
    <tab> 
        <tab-heading> 
            <fa name="heart"></fa> 
        </tab-heading> 
        <h6><strong>Favorite</strong> List</h6> 
        <ul><li class="online"></li></ul> 
    </tab> 
    <tab heading="Long Justified"> 
        <tab-heading> 
            <fa name="cog"></fa> 
        </tab-heading> 
        <h6><strong>Seller</strong> Settings</h6> 
        <ul class="settings"> <li></li></ul> 
    </tab> 
</tabset>