<div class="page page-sidbar-sm-layout">
  <div class="pageheader">
    <h3>{{page.title}}</h3>
  </div>
  <!-- cards row --> 
  <div class="row">
	<!-- col Available--> 
    <div class="card-container col-sm-3">
      <div class="card">
        <div class="front bg-blue">
          <!-- row --> 
          <div class="row">
            <!-- col --> 
            <div class="col-xs-4"> 
                <i class="fa fa-money fa-3x"></i> 
                <h5><span class="">Available</span></h5> 
			</div>
            <!-- /col --> 
			<!-- col --> 
            <div class="col-xs-4">
             <h5><strong>7295.71428539</strong> SLING</h5>
            </div>
            <!-- /col --> 
          </div>
          <!-- /row --> 
        </div>
        <div class="back bg-blue">
          <!-- row --> 
          <div class="row">
            <!-- col --> 
            <div class="col-xs-4"> <a href="javascript:;"><i class="fa fa-cog fa-2x"></i> Settings</a> </div>
            <!-- /col --> <!-- col --> 
            <div class="col-xs-4"> <a href="javascript:;"><i class="fa fa-chain-broken fa-2x"></i> Content</a> </div>
            <!-- /col --> <!-- col --> 
            <div class="col-xs-4"> <a href="javascript:;"><i class="fa fa-ellipsis-h fa-2x"></i> More</a> </div>
            <!-- /col --> 
          </div>
          <!-- /row --> 
        </div>
      </div>
    </div>
    <!-- /col --> 
    <!-- col Pending--> 
    <div class="card-container col-sm-3">
      <div class="card">
        <div class="front bg-slategray">
          <!-- row --> 
          <div class="row">
            <!-- col --> 
            <div class="col-xs-4"> 
                <i class="fa fa-money fa-3x"></i> 
                <h5><span class="">Pending</span></h5>
			</div>
            <!-- /col --> 
            <!-- col --> 
            <div class="col-xs-4">
             <h5><strong>0.00000000</strong> SLING</h5>
            </div>
            <!-- /col --> 
          </div>
          <!-- /row --> 
        </div>
        <div class="back bg-slategray">
          <!-- row --> 
          <div class="row">
            <!-- col --> 
            <div class="col-xs-4"> 
				<a href="javascript:;">
					<i class="fa fa-cog fa-2x"></i> Settings</a> </div>
            <!-- /col --> <!-- col --> 
            <div class="col-xs-4"> 
				<a href="javascript:;">
				<i class="fa fa-chain-broken fa-2x"></i> Content
				</a> 
			</div>
            <!-- /col --> 
			<!-- col --> 
            <div class="col-xs-4"> 
				<a href="javascript:;"><i class="fa fa-ellipsis-h fa-2x"></i> More</a> 
			</div>
            <!-- /col --> 
          </div>
          <!-- /row --> 
        </div>
      </div>
    </div>
	<!-- /col -->  
	<!-- col Staking--> 
    <div class="card-container col-sm-3">
      <div class="card">
        <div class="front bg-lightred">
          <!-- row --> 
          <div class="row">
            <!-- col --> 
            <div class="col-xs-4"> 
                <i class="fa fa-money fa-3x"></i> 
                <h5><span class="">Staking</span></h5> 
			</div>
            <!-- /col -->
			<!-- col --> 
            <div class="col-xs-4">
             <h5><strong>35.71051839</strong> SLING</h5>
            </div>
            <!-- /col --> 
          </div>
          <!-- /row --> 
        </div>
        <div class="back bg-lightred">
          <!-- row --> 
          <div class="row">
            <!-- col --> 
            <div class="col-xs-4"> <a href="javascript:;"><i class="fa fa-cog fa-2x"></i> Settings</a> </div>
            <!-- /col --> <!-- col --> 
            <div class="col-xs-4"> <a href="javascript:;"><i class="fa fa-chain-broken fa-2x"></i> Content</a> </div>
            <!-- /col --> <!-- col --> 
            <div class="col-xs-4"> <a href="javascript:;"><i class="fa fa-ellipsis-h fa-2x"></i> More</a> </div>
            <!-- /col --> 
          </div>
          <!-- /row --> 
        </div>
      </div>
    </div>
    <!-- /col --> 
    <!-- col Total--> 
    <div class="card-container col-sm-3">
      <div class="card">
        <div class="front bg-greensea">
			
          <!-- row --> 
          <div class="row">
            <!-- col --> 
            <div class="col-xs-4"> 
                <i class="fa fa-money fa-3x"></i> 
                <h5><span class="">Total</span></h5> 
			</div>
            <!-- /col --> 
			<!-- col --> 
            <div class="col-xs-4">
             <h5><strong>7331.42480810</strong> SLING</h5>
            </div>
            <!-- /col --> 
          </div>
          <!-- /row --> 
        </div>
		  
        <div class="back bg-greensea">
          <!-- row --> 
			
          <div class="row">
            <!-- col --> 
            <div class="col-xs-4"> <a href="javascript:;"><i class="fa fa-cog fa-2x"></i> Settings</a> </div>
            <!-- /col --> <!-- col --> 
            <div class="col-xs-4"> <a href="javascript:;"><i class="fa fa-chain-broken fa-2x"></i> Content</a> </div>
            <!-- /col --> <!-- col --> 
            <div class="col-xs-4"> <a href="javascript:;"><i class="fa fa-ellipsis-h fa-2x"></i> More</a> </div>
            <!-- /col --> 
          </div>
			
          <!-- /row --> 
        </div>
		  
      </div>
    </div>
    <!-- /col --> 
  </div>
   <div class="row">
      <!-- col --> 
		
      <div class="col-md-12">
        <!-- tile --> 
        <section class="tile" fullscreen="isFullscreen01">
          <!-- tile header --> 
          <div class="tile-header dvd dvd-btm">
            <h1 class="custom-font">
				<strong>Recent</strong> Transactions</h1>
            <ul class="controls">
              <li class="dropdown" dropdown on-toggle="toggled(open)">
                <a href dropdown-toggle class="dropdown-toggle settings">
					<i class="fa fa-cog"></i></a> 
                <ul class="dropdown-menu pull-right with-arrow animated littleFadeInUp">
                  <li>
                    <a href tile-control-toggle>
                      <span class="minimize">
                        <fa name="angle-down"></fa>
                        &nbsp;&nbsp;&nbsp;Minimize
                      </span>
                      <span class="expand">
                        <fa name="angle-up"></fa>
                        &nbsp;&nbsp;&nbsp;Expand
                      </span>
                    </a>
                  </li>
                  <li>
                    <a href tile-control-refresh ng-click="ajaxFaker()">
                      <fa name="refresh"></fa>
                      Refresh 
                    </a>
                  </li>
                  <li>
                    <a href tile-control-fullscreen ng-click="isFullscreen01 = !isFullscreen01">
                      <fa name="expand"></fa>
                      Fullscreen 
                    </a>
                  </li>
                </ul>
              </li>
            </ul>
          </div>
          <!-- /tile header --> 
		  <!-- tile body --> 
          <div class="tile-body">
            <div class="form-group"> 
				<label for="filter" style="padding-top: 5px">Search:</label> 
				<input id="filter" type="text" class="form-control input-sm w-sm mb-10 inline-block"> 
			</div>
            <table id="searchTextResults" ui-jq="footable" data-filter="#filter" 
				   data-page-size="5" class="footable table table-custom">
              <thead>
                <tr>
				  <th>Status 
                  <th>Date 
                  <th data-hide="phone">Type 
                  <th data-hide="phone">Label 
                  <th>Amount 
              <tbody>
                <!--tr ng-repeat="transaction in transactions | filter:searchText" my-directive>
				  < tile body 
                  <td>{{transaction.status}} 
                  <td>{{transaction.date}} 
                  <td>{{transaction.type}} 
                  <td>{{transaction.label}} 
                  <td>{{transaction.amount}}   
				  --> 
				  <tr my-directive>
					  <td>Complete</td>
					  <td>07/15/2015 08:30 AM</td>
					  <td>Received</td>
					  <td>SamiEA93DaDaKMsTjWaNdSyiEyU3SVN59C</td>
					  <td>7,331.00</td>
				  </tr>
				  <tr my-directive>
					  <td>Complete</td>
					  <td>07/15/2015 04:21 AM</td>
					  <td>Received</td>
					  <td>SamiEA93DaDaKMsTjWaNdSyiEyU3SVN59C</td>
					  <td>35.11</td>
				  </tr>
				  <tr my-directive>
					  <td>Complete</td>
					  <td>07/14/2015 11:27 PM</td>
					  <td>Received</td>
					  <td>SamiEA93DaDaKMsTjWaNdSyiEyU3SVN59C</td>
					  <td>43,031.35</td>
				  </tr>
				  <tr my-directive>
					  <td>Complete</td>
					  <td>07/14/2015 04:20 AM</td>
					  <td>Received</td>
					  <td>SamiEA93DaDaKMsTjWaNdSyiEyU3SVN59C</td>
					  <td>1,236.22</td>
				  </tr>
              <tfoot class="hide-if-no-paging">
                <tr>
                  <td colspan="5" class="text-center">
            </table>
          </div>
          <!-- /tile body --> 
        </section>
        <!-- /tile --> 
      </div>
				  
      <!-- /col --> 
    </div>
	  
  </div>
  <!-- /cards row --> 
</div>
