<div class="page page-ui-grid">
  <!-- page content -->
  <div class="pagecontent">
    <!-- row -->
    <div class="row">
      <!-- col -->
      <div class="col-md-6">
        <!-- tile -->
        <section class="tile" fullscreen="isFullscreen04">
          <!-- tile header -->
          <div class="tile-header dvd dvd-btm">
            <h1 class="custom-font"><strong>Sling</strong> Transactions</h1>
          </div>
          <!-- /tile header -->

          <!-- tile body -->
          <div class="tile-body" ng-controller="FooterUiGridCtrl">

            <div id="grid4" ui-grid="gridOptions" class="grid" ui-grid-resize-columns></div>

          </div>
          <!-- /tile body -->

        </section>
        <!-- /tile -->
      </div>
      <!-- /col -->
    </div>
    <!-- /row -->
  </div>
  <!-- /page content -->
</div>